/**,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/
/*body {
  margin: 0px 0px 0px 0px;
}*/
.top8{
  position: absolute;
  /*width: 100%;*/
  border: #fccc9d 2px solid;
  font-family: sans-serif;
  margin-left: 0px;

}
.top-bar {
  background-color: #fccc9d;
  color: #c27346;
}
.top-bar h3, h4 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 10px;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-right {
  /*position: relative;*/
  text-align: right;
  /*float: right;*/
  padding-right: 20px;
}
.fa-user{
  color: orange;
}
.friend {
  text-align: center;
  position: relative;
  float: left;
  width: 25%;
}
.blue-border {
  border: blue solid 2px;
}
@media (max-width: 1080px){
  .friend{
    width: 50%
  }
}
@media (max-width: 768px){
  .friend{
    width: 100%;
  }
}
